* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main-image {
  height: 40vh;
  background-position: center;
  background-size: cover;
}

.jumbo-image {
  height: 40vh;
  background-position: center;
  background-size: cover;
}

.main-image:hover {
  opacity: 0.9;
}

.main-image a {
  text-decoration: none;
}

.avatar-small {
  width: 50px;
}

.fade-in-text {
  opacity: 0;
}
.fade-in-text:hover {
  opacity: 1;
}

div.fade-in-text {
  height: 40vh;
  text-decoration: none;
}

div.fade-in-text .display-4 {
  line-height: 40vh;
  vertical-align: middle;
}
