.main-image,
.jumbo-image {
  height: 40vh;
  background-position: center;
  background-size: cover;
}

.main-image:hover {
  opacity: 0.9;
}

.main-image a {
  text-decoration: none;
}

.fade-in-text {
  opacity: 0;
  transition: opacity 0.3s;
}
.fade-in-text:hover {
  opacity: 1;
  transition: opacity 0.3s;
}

div.fade-in-text {
  height: 40vh;
  text-decoration: none;
}

div.fade-in-text .display-4 {
  line-height: 40vh;
  vertical-align: middle;
}

.avatar-small {
  width: 50px;
}

